.Deck {
    text-align: center;
  }
  
  .Deck-gimme {
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 8px;
    border: none;
    margin: 20px 16px;
  }
  
  .Deck-gimme:hover {
    cursor: pointer;
    background-color: #444;
    box-shadow: 10px 5px 5px rgb(188, 39, 196);
  }
  
  .Deck-gimme:active,
  .Deck-gimme:focus {
    outline: none;
  }
  
  .Deck-cardarea {
    margin-top: 160px;
  }
  